<div class="grid-container mat-app-background">
  <h1 class="mat-h1 text-center">Result's display</h1>
  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let card of cardss; let index = index"
      [colspan]="1"
      [rowspan]="2"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <span style="flex: auto"></span>
          <mat-card-title>
            <img
              class="img-thumbnail img-fluid rounded"
              style="max-height: 100px; min-height: 100px"
              src="{{ card.profile_picture }}"
            />
            {{ card.username }}
          </mat-card-title>
          <span style="flex: auto"></span>
          <button
            class="pull-right"
            mat-icon-button
            color="warn"
            aria-label="heart icon"
            (click)="addFav($event, index)"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <div *ngIf="clicked[index]" style="text-align: center; color: grey">
            Added to favorites
          </div>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="font-size: larger" class="text-center">
            <p><strong>Gender: </strong>{{ card.gender }}</p>
            <p><strong>Age: </strong> {{ card.age }}</p>
            <p><strong>Nationality: </strong> {{ card.nationality }}</p>
            <p><strong>Room space: </strong>{{ card.room_space }}</p>
            <p><strong>Contact: </strong>{{ card.contact }}</p>
          </div>
          <div>
            <img
              class="img-fluid"
              src="{{ card.room_picture }}"
              style="max-height: 300px; min-height: 300px"
            />
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
