
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

 .container {
	
	background-color: #DCDCDC;
	width: 70%;
	height: 10vh;
	margin: auto;
	align-items: center;
	padding: 30px;
	
}


 .small-container {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	
} 

.photo  {
	display: flex;
	justify-content: center;
    align-items: center;
}

/* .btnSubmit {
	display: flex;
	justify-content: center;
    align-items: center;
} */

h1{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.room-picture {
	width: 250px;
	height: 250px;
	border-radius: 15%;
}

/* button {
	padding: 5px;
	width: 60px;
} */

span {
	width : 250px;
	margin-left: 20px;
}

input {
	background: none;
    outline: none;
	width : 350px;
	border: black;
	margin-right: 10px;
}

body { margin: 0; font-family: Garamond, "Helvetica Neue", sans-serif; }

