:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mat-radio-button{
    margin-left: 16px;
    font-family: Garamond, "Helvetica Neue", sans-serif;
  }
 .container{
  display: flex;
  margin: auto;
  width: 50%;
 }

  body input button{
    font-family: Garamond, "Helvetica Neue", sans-serif;
    display: flex;
    margin: auto;
    width: 50%;
   
 }
 label{
  font-family: Garamond, "Helvetica Neue", sans-serif;
  font-size:30px
 }
.headerI{
font-family: 'Galdeano', sans-serif;
font-family: 'Playfair Display', serif;
font-size: xx-large;
}
.allCard{
font-family: 'Galdeano', sans-serif;
font-family: 'Playfair Display', serif;
font-size: x-large;
}
.btn{
  font-size: small;

}