<p>become-ahost works!</p>

<p>
    <label id="radio-group-label">Is your room :</label>
<mat-radio-group aria-label="Select an option">
    <mat-radio-button value="Shared">Shared</mat-radio-button>
    <mat-radio-button value="Private">Private</mat-radio-button>
  </mat-radio-group>
</p>
<p>
    <label id="radio-group-label">Is your room is occupied now</label>
<mat-radio-group aria-label="Select an option">
    <mat-radio-button value="true">Yes</mat-radio-button>
    <mat-radio-button value="false">No</mat-radio-button>
</mat-radio-group>
</p>
<div style="text-align:center">
    <app-material-file-upload></app-material-file-upload>
</div>

<div>
    <button type="button">Submit</button>
</div>
