<div id="h">
    <div >
      <div class="row ">
        <h1 id="mcec">Me Casa Es Tu Casa</h1>
      </div>
    </div>
  </div>

  <div id="g">
    <div >
      <div class="row mt  ">
        <div class="col-md-6">
          <img src="http://res.cloudinary.com/roudeinamysplash/image/upload/v1621191983/qj6anybdvlg8rzhhgvxg.png
          " class="img-responsive aligncenter imgh ml-5" width="320" alt="" >
        </div>

        <div class="col-md-4">
          <h1 data-effect="slide-left">Be a Great Member</h1>

          <p>Whether you’re traveling the world, hosting travelers, or making friends locally, being a conscientious and generous.</p>
        </div>

      </div>
    </div>
  </div>

  <div id="r">
    <div >
      <div class="row mt">
        <div class="col-md-6">
            <img src="http://res.cloudinary.com/roudeinamysplash/image/upload/v1621192060/mtpq6snwt6bciy7noddu.png" class="img-responsive aligncenter imgh mr-5" width="300" alt="" >
          </div>
        <div class="col-md-4 col-md-offset-2">
          <h1 data-effect="slide-left">Become A Host</h1>
          <p>It's all about sharing and connection. Be open to giving, receiving, and discovering the unexpected.</p>
        </div>
      </div>
    </div>
  </div>


  <div id="b">
    <div >
      <div class="row mt">
        <div class="col-md-6">
          <img src="http://res.cloudinary.com/roudeinamysplash/image/upload/v1621191159/xmjwlnwz5ho49zlygz2w.png" class="img-responsive aligncenter imgh" width="320" alt="" >
        </div>
        <div class="col-md-4">
          <h1 >Respect differences</h1>
          <p>Help make the world smaller and friendlier. The diversity of people across the globe is a beautiful thing, so contribute by respecting and appreciating those differences, be they cultural or otherwise.</p>
        </div>
      </div>
    </div>
  </div>
