.grid-container {
  margin: 20px;
  font-family: Garamond, "Helvetica Neue", sans-serif;
  font-weight: bold
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  font-family: Garamond, "Helvetica Neue", sans-serif;
  font-weight: bold
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-family: Garamond, "Helvetica Neue", sans-serif;
}

.dashboard-card-content {
  text-align: center;
  font-family: Garamond, "Helvetica Neue", sans-serif;
  font-weight: bold
}
body { margin: 0; font-family: Garamond, "Helvetica Neue", sans-serif; font-weight: bold}
