

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .btn{
    margin-left: 300px;
  }


  .form-control {
    
    display: flex;
    margin: auto;
    width: 50%;
  }

  .headerI{
    font-family: 'Galdeano', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    }
    .allCard{
    font-family: 'Galdeano', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: large;
    }
    .btn{
      font-size: small;
    }
  
