

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .btn{
    margin-left: 300px;
  }


  .form-control {
    
    display: flex;
    margin: auto;
    width: 50%;
  }

  

  body { margin: 0; font-family: Garamond, "Helvetica Neue", sans-serif; }

