<mat-card class=" mx-auto mt-3 " style="width: 90%;" >
  <div class="card-header text-center headerI">Filter by preferences!</div>
  <form
    name="form"
    class="mt-2 mr-4 allCard"
    #filter="ngForm"
    novalidate
    (ngSubmit)="onSubmit()"
  >
    <div class="row">
      <div class="col-6">
        <label class="ml-5" id="radio-group-label">Filter by gender:</label>
      </div>
      <div class="col-6">
        <mat-radio-group
          aria-label="Select an option"
          name="gender"
          #gender="ngModel"
          ngModel
          [(ngModel)]="filtred.gender"
        >
          <mat-radio-button value="male" class="allCard">Male</mat-radio-button>
          <mat-radio-button value="female" class="allCard">Female</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="row">
      <div class="col-6"><label class="ml-5">Filter by age:</label><br /></div>
      <div class="col-6">
        <select
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          name="age"
          #age="ngModel"
          ngModel
          [(ngModel)]="filtred.age"
        >
        <option selected > Select Your Age</option>
          <option *ngFor="let age of ages">
            {{ age }}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label class="ml-5" id="radio-group-label"
          >Filter by room space type:</label
        >
      </div>
      <div class="col-6">
        <mat-radio-group
          aria-label="Select an option"
          name="room_space"
          #room_space="ngModel"
          ngModel
          [(ngModel)]="filtred.room_space"
        >
          <mat-radio-button value="shared" class="allCard">Shared</mat-radio-button>
          <mat-radio-button value="private" class="allCard">Private</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="row">
      <div class="col-6">

        <label class="ml-5">Filter by host nationality:</label><br />
      </div>
      <div class="col-6">
        <select
          class="form-select form-select-sm "
          aria-label=".form-select-sm example"
          name="nationality"
          #nationality="ngModel"
          ngModel
          [(ngModel)]="filtred.nationality"
        >
        <option selected > Select Your Nationality</option>
          <option *ngFor="let nationality of nationalities">
            {{ nationality }}
          </option>
        </select>
      </div>
    </div>

    <mat-card-actions  class=" mt-1 mx-auto text-center">
      <button
        type="submit"
        mat-raised-button
        color="primary"
       class="allCard btn"
      >
        Display Filter Results
      </button>
    </mat-card-actions>
  </form>
</mat-card>
<hr />
<mat-card class=" mx-auto mt-2 " style="width: 90%;">
  <div class="card-header text-center headerI">Available Rooms</div>
  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile
    
      *ngFor="let card of cardss; let index = index"
      [colspan]="1"
      [rowspan]="2"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <span style="flex: auto"></span>
          <mat-card-title>
            <img
              class="img-thumbnail img-fluid rounded "
              style="max-height: 100px; min-height: 100px"
              src="{{ card.profile_picture }}"
            />
           <div class="allCard">{{ card.username }}</div> 
          </mat-card-title>
          <span style="flex: auto"></span>
          <button
            class="pull-right"
            mat-icon-button
            color="warn"
            aria-label="heart icon"
            (click)="addFav($event, index)"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <div class="allCard" *ngIf="clicked[index]"  style="text-align: center; color: palevioletred; font-size: xx-small;">
            Added to favorites
          </div>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="font-size: larger" class=" allCard">
            <p><strong>Gender: </strong>{{ card.gender }}</p>
            <p><strong>Age: </strong> {{ card.age }}</p>
            <p><strong>Nationality: </strong> {{ card.nationality }}</p>
            <p><strong>Room space: </strong>{{ card.room_space }}</p>
            <p><strong>Contact: </strong>{{ card.contact }}</p>
          </div>
          <div class="text-center">
            <img
            mat-card-lg-image 
              class="img-fluid "
              src="{{ card.room_picture }}"
              style="max-height: 250px; max-width: 450px"
            />
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

