<div class="content mat-app-background">Filter by preferences!</div>
<form name="form" #filter="ngForm" novalidate (ngSubmit)="onSubmit()">
<div class="gender" style="margin-left: 300px;">
<label>Filter by gender:</label>
<div class="form-check">
  <input class="form-check-input" type="radio" name="gender" value="male" #gender='ngModel' ngModel [(ngModel)] = "filtred.gender">
  <label class="form-check-label">Male</label>
</div>
<div class="form-check" >
  <input class="form-check-input" type="radio" name="gender" value="female" #gender='ngModel' ngModel [(ngModel)] = "filtred.gender">
  <label class="form-check-label">Female</label>
</div>

</div>
<div class="age">
  <label style="margin-left: 300px;">Filter by age:</label><br/>
  <input type='number' class='form-control' min='18' max='80' name="age" #age='ngModel' ngModel [(ngModel)] = "filtred.age">
</div>
<div class="spaceType" style="margin-left: 300px;">
  <label id="radio-group-label">Filter by room space type:</label><br/>
  <mat-radio-group  aria-label="Select an option" name="room_space" #room_space='ngModel' ngModel [(ngModel)]="filtred.room_space">
      <mat-radio-button  value="shared">Shared</mat-radio-button>
      <mat-radio-button value="private">Private</mat-radio-button>
    </mat-radio-group>
</div>
<div class="form-group" style="margin-left: 300px;">
  <label >
    Filter by host nationality:</label><br/>
  <select class="custom-select" name="nationality" #nationality='ngModel' ngModel [(ngModel)] = "filtred.nationality">
      <option value="default">Nationality</option>
      <option *ngFor="let nationality of nationalities">{{ nationality }} </option>
  </select>
</div>
<div class="form-group">
  <button type="submit" mat-raised-button color="primary" style="margin-left: 300px">Display Filter Results</button>
</div>
</form>
<hr/>
<app-res-of-search></app-res-of-search>